@charset "UTF-8;";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    height: 100%;
}

main {
    display: flex;
    min-height: 93vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content > img {
    width: 85%;
    max-height: 75vh;
    border-radius: 15px;
    object-fit: contain;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: auto;
    width: 90%;
    max-height: 90vh;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.281);
    overflow: auto;
}

#content > h1, #content > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#attribution {
    padding: 10px;
    text-align: center;
}

#attribution > a {
    text-decoration: none;
    color: black;
}

#attribution > a:hover {
    color: #2C7DFA;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    #content {
        max-width: 400px;
    }
}

@media screen and (max-height: 500px) {
    #content > img {
        max-height: 35vh;
    }
}